@font-face {
  font-family: 'Kumbh sans', sans-serif;
  font-weight: 100;
  src: url('/src/assets/webfontkit-20231112-015436/kumbhsans-thin-webfont.woff2')
      format('woff2'),
    url('/src/assets/webfontkit-20231112-015436/kumbhsans-thin-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Kumbh sans', sans-serif;
  font-weight: 300;
  src: url('/src/assets/webfontkit-20231112-015436/kumbhsans-light-webfont.woff2')
      format('woff2'),
    url('/src/assets/webfontkit-20231112-015436/kumbhsans-light-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Kumbh sans', sans-serif;
  font-weight: 400;
  src: url('/src/assets/webfontkit-20231112-015436/kumbhsans-regular-webfont.woff2')
      format('woff2'),
    url('/src/assets/webfontkit-20231112-015436/kumbhsans-regular-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Kumbh sans', sans-serif;
  font-weight: 700;
  src: url('/src/assets/webfontkit-20231112-015436/kumbhsans-bold-webfont.woff2')
      format('woff2'),
    url('/src/assets/webfontkit-20231112-015436/kumbhsans-bold-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Kumbhsans', sans-serif;
  font-weight: 900;
  src: url('/src/assets/webfontkit-20231112-015436/kumbhsans-black-webfont.woff2')
      format('woff2'),
    url('/src/assets/webfontkit-20231112-015436/kumbhsans-black-webfont.woff')
      format('woff');
}
